@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background: #fff;
	min-height: 100vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	background: #lightgrey;
	scroll-behavior: smooth;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.7s ease;
	padding: 50px 100px;
	z-index: 100000;
  font-family: 'Fredoka One';
}
header .sticky
{
	padding: 30px 100px;
	background-color: #fff;
}

header .logo
{
	position: relative;
	width: 15%;
	padding: 15px;
	transition: 0.6s;
}

header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li
{
	position: relative;
	list-style: none;
}

header ul li a
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #000;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.3s;
}

header .sticky .logo
{
	color: #000;
}

header .sticky ul li a
{
	color: #000;
}

.scrolling-active 
{
	background-color: #fff;
	color: #fff;
	height: 30px;
}

.section1
{
  position: relative;
  padding: 42px;
  background-color: white;
  text-align: center;
  color: #003366;
  font-family: 'Fredoka One';
  letter-spacing: 2px;
}

.section1 img
{
  width: 600px;
}

.button {
  display: inline-block;
  border-radius: 25px;
  background-color: #ffd633;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Fredoka One';
  letter-spacing: 2px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.section3
{
  margin: 30px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  height: auto;
  grid-gap: 30px;
  justify-content: center;
}

.section3 a
{
  font-family: 'Fredoka One';
  letter-spacing: 2px;
  color: white;
  font-size: 20pt;
}

.section3 a:hover
{
  color: #ffd633;
}

.section3 p
{
  font-family: 'Poppins';
  font-size: 16pt;
  color: white;
}

.section3 > div
{
  background-color: #003366;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  opacity: 90%;
}

.section3 img
{
  width: 120px;
}

footer {
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 100px;
	background: #ffffb3;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  font-family: 'Poppins';
}

footer .container
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

footer .container .foot
{
	padding: 0 20px; 
}

footer .container .foot.tentang
{
	width: 30%;

}

footer .container h2
{
	position: relative;
	color: #000;
	font-weight: 500;
	margin-bottom: 15px;
}

footer .container h2:before
{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
	background: #f00;
}

footer p
{
	color: #000;

}

.sci
{
	margin-top: 20px;
	display: flex;
}

.sci li
{
	list-style: none;
}

.sci li a
{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 7px;
}

.sci li a:hover
{
	background: white;
	transition: 0.3s;
}

.sci li a .fa
{
	color: #000;
	font-size: 20px;
}

.fitur
{
	position: relative;
	width: 20%;

}

.fitur ul li
{
	list-style: none;
}

.fitur ul li a
{
	color: black;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
}

.fitur ul li a:hover
{
	color: #000;
	transition: 0.3s;
}

.kontak
{
	width: calc(35% - 70px);
	margin-right: 0 !important;
}

.kontak .info
{
	position: relative;
}

.kontak .info li
{
	display: flex;
	margin-bottom: 16px;
}

.kontak .info li span:ntc-child(1)
{
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
}

.kontak .info li span
{
	color: #000;	
}

.kontak .info li a
{
	color: #000;
	text-decoration: none;
}

.kontak .info li a:hover
{
	color: #003366;
	transition: 0.3s;
}

.end
{
	width: 100%;
	background: #ffd633;
	padding: 8px 100px;
	text-align: center;
	color: white;
  font-family: 'Poppins';
}

ul {
	list-style: none;
}

a
{
	text-decoration: none;
}

.section6 h1
{
  font-family: 'Fredoka One';
  text-align: center;
  color: #003366;
  padding: 25px;
  letter-spacing: 2px;
}

.mySlides {display: none}
.mySlides img 
{
  vertical-align: middle;
  border-radius: 30px;
}

.slideshow-container {
  justify-content: center;
  font-family: 'Fredoka One';
  max-width: 1000px;
  position: relative;
  margin: 30px;
}

.slideshow-container h1 {
  text-align: center;
  color: #003366;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.section4
{
  font-family: 'Fredoka One';
  letter-spacing: 2px;
  color: #003366;
  height: auto;
  margin: 30px;
  display: grid;
  grid-template-columns: 350px 600px;
  height: auto;
  grid-gap: 40px;
  justify-content: center;
  vertical-align: middle;
  background-color: #ffffb3;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section4 p
{
  font-family: 'Poppins';
  font-size: 16pt;
}

.section4 .button1
{
  display: inline-block;
  border-radius: 25px;
  background-color: #ffd633;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  width: 200px;
  margin: 5px;
  font-family: 'Fredoka One';
  letter-spacing: 2px;
}